номер 8
settings = ["стимпанк", "киберпанк", "фентези", "научная фантастика"]

objects = ["волшебный меч", "паровой двигатель", "красный бластер",  "кибервизор"]
n = int(input())
m = int(input())

if n == 0 and m == 1:
    print("YES")
elif n == 1 and m == 3:
    print("YES")
elif n == 2 and m == 0:
    print("YES")
elif n == 3 and m == 2:
  print("YES")


activation_word = input()
if activation_word.count("лор") >= 1 and activation_word[-1] == 'р':
    print("Проход открыт")
else:
    print("Недоступно")


kody = ["веревка", "нож", "арбалет", "спички", "вода"]
nick = ["нож", "веревка", "вода", "спальник", "рация"]
kody = ["веревка", "нож", "арбалет", "спички", "вода"]
nick = ["нож", "веревка", "вода", "спальник", "рация"]
set_kody = set(kody)
set_nick = set(nick)
print(len(set_kody | set_nick))
print(len(set_kody & set_nick))
номер 9
n= int(input())
t = float(input())
total_beta_time = n * t * 7
nick_time = 5
ratio = total_beta_time / nick_time
print(ratio)


name = input()
time = input()
date = input()
year = input()
colon_index = time.index(':')
hours = time [:colon_index]
minutes = time[colon_index + 1:]
code = f"{name[0]}.{hours}{minutes}{date}{year}"
print(code)



form = ["круглый", "шипастый"]
clothes = ["кузнечный молот", "корона", "дырявые сандалии", "мантия монарха"]
color = ["тёмно-фиолетовый", "кроваво-красный", "желтый"]
positive_king = ["круглый","корона","мантия монарха", "желтый"]
positive_king.sort()
print(positive_king)

номер 10
A = {"волшебный меч", "чешуя дракона", "старые сандалии", "чайный сервиз",}
B = {"15 метров верёвки", "волшебный меч", "эликсир превосходного уклонения", "чайный сервиз", "старые сандалии"}
C=A.intersection(B)
C=list(C)
C.sort()
print(C)



A = "предметы и персонажи, которые дополняют информацию о мире вокруг"
B = "предметы и персонажи, которые связаны с нарративным дизайном сценария"
C = "интерактивные элементы интерфейса"
D = "любые другие объекты, с которыми можно взаимодействовать (содержимое инвентаря игрока, подсказки, мини-игры внутри большой игры и т.д.)"
L = []
L.append(A)
L.append(B)
L.append(C)
L.append(D)
L.sort()
print(L)




